.floatClear {
  float: left;
  clear: both;
}
body {
  overflow-x: hidden;
}
#logo {
  margin-top: 20px;
}
#options-container {
  margin-left: 2px;
}
#options-container #options {
  height: 300px;
}
ul.list {
  margin: 3em auto 3em auto;
  padding-left: 0;
}
ul.list li {
  display: inline;
  list-style-type: none;
}
ul.list .ui-corner-left,
ul.list .ui-corner-right {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.right {
  float: right;
}
.alert {
  position: fixed;
  width: 40%;
  z-index: 3;
}
.action {
  padding: 10px 24px 10px 24px;
  margin-right: 10px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  font-size: 125%;
  font-weight: bold;
}
.CodeMirror-placeholder {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #272822;
  background-image: none;
  background-origin: padding-box;
  color: #F8F8F2;
  display: block;
  font-family: monospace;
  font-size: 13px;
  height: 300px;
  line-height: 13px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  overflow-x: auto;
  overflow-y: auto;
  position: relative;
  width: 100%;
}
.placeholder {
  color: white;
}
/* Quick links
-------------------------------------------------- */
.bs-links {
  margin: 36px 0;
}
.quick-links {
  min-height: 30px;
  margin: 0;
  padding: 5px 20px;
  list-style: none;
  text-align: center;
  overflow: hidden;
}
.quick-links:first-child {
  min-height: 0;
}
.quick-links li {
  display: inline;
  margin: 0 5px;
  color: #999;
}
.quick-links .github-btn,
.quick-links .tweet-btn,
.quick-links .follow-btn {
  position: relative;
  top: 5px;
}
