::-webkit-scrollbar-track {
  background-color: #ffffff;
}
::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px !important;
  background-color: snow;
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5) !important;
}
