html {
    font-size: 80%;
}

h2 {
    font-size: 150%;
}

#shareMenu {
    font-size: 90%;
}

form textarea {
    height: 230px;
}

[readonly] {
    color: gray;
}

.details form {
    min-height: 491px;
}

.west button {
    margin-left: 5px;
}

.marginTop {
    margin-top: 5px;
}

.pointer, .clickable {
    cursor: pointer;
}

.clickable:hover {
    text-decoration: underline;
}

.helptext {
    color: gray;
    padding-bottom: 15px;
    display: block;
}

.above {
    z-index: 6;
}

.container {
    position: relative;
}

.tabRight {
    position: absolute;
    right: 3px;
    top: 3px;
    z-index: 5;
    color: #000000;
}

#python_run_button {
    font-size: 65%;
    margin-left: 15px;
}

.top {
    position: absolute;
    top: 0;
}

.bottom {
    position: absolute;
    bottom: 0;
}

.align-left {
    position: absolute;
    left: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.tab-margin-top {
    margin-top: 3px;
}

.thin {
    width: 68%;
}

.wide input, .wide textarea {
    width: 92%;
}

.align-center * {
    text-align: center;
}

.section {
    display: inline;
    width: 50%;
    height: 110px;
}

#plusone {
    position: absolute;
    height: 30px;
    margin-top: auto;
    margin-bottom: 0;
    top: auto;
    bottom: 0;
}

#accordion div > a {
    display: block;
    padding-left: 2px;
    padding-top: 5px;
}

#accordion div {
    padding: 0;
    margin: 0;
}

#accordion p {
    margin: 10px 5px;
}

#accordion select {
    margin: 1px;
}

#accordion li {
    list-style-type: none;
}

.hotkeys h3 {
    margin-left: .5em;
    margin-top: .5em;
}

.hotkeys span {
    margin: 5px;
    line-height: 2em;
}

.CodeMirror {
    font-family: Consolas, "Bitstream Vera Sans Mono", Monaco, monospace;
    font-size: 9pt;
    line-height: 1.1em;
    margin: 0;
    height: 100%;
}

.CodeMirror-scroll {
    overflow-x: auto;
}

.kbd {
    border: solid 1px #ABABAB;
    font-size: 10px;
    font-family: 'Lucida Grande', monospace;
    padding: 2px 3px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #999;
}

.spellcheck-badwords span {
    display: inline;
}

#packages li {
    list-style: circle;
}

#announcements {
    margin-top: -6px;
    position: absolute;
    width: 99%;
    text-align: center;
}

#announcements span {
    font-weight: bold;
    color: orange;
}

.line-height {
    height: 3em;
}

label.error {
    color: red;
}

.maximized, .maximized iframe {
    width: 100%;
    height: 99%;
}

/*jQuery UI tabs*/

.ui-tabs-nav li {
    white-space: nowrap;
}

.ui-tabs-nav li a {
    font-size: 1em !important;
    padding: 4px 1.5ex 3px !important;
}

.ui-tabs-panel {
    font-size: 1em !important;
}

.ui-tabs .ui-tabs-panel {
    padding: 0 !important;
}

div#revisionsMenu {
    height: 80px;
    margin-top: 20px;
}

#revisionsMenu input {
    margin-left: 5px;
}