{% extends "base.html" %}

{% block title %}Fiddle Salad Language Configuration{% endblock %}
{% block description %}Choose among CSS, HTML, and JavaScript preprocessors. Develop web applications faster with real-time preview and enhanced debugging. {% endblock %}
{% block keywords %}javascript, lesscss, zen coding{% endblock %}

{% block content %}


<!-- top with logo -->
<div class="row top-row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <img src="{% media_url %}/images/FiddleSalad_Logo_Final.png" alt="FiddleSalad" class="F_logo">
  </div>
  <div class="col-mds-1"></div>
</div>
<!-- end top with logo -->
<div class="row">
  <div class="col-md-1"></div>
  <div class="between-top-and-mid col-md-10">
    <h1> Code with <span style="color:#2dd2b4">convienence.</h1>
      <p>An online playground with an instantly ready coding environment.
      </br>Combine language preprocessors, CSS, HTML and JavaScript to create and share coding examples.</p>
    </div>
    <div class="col-md-1"></div>
  </div>
  <!-- left div -->
  <div style="height:500px;" class="col-md-1"></div>
  <!-- left div end -->
  <!-- tabs! -->
  <div id="lines" class="col-md-4 tabbable full-width-tabs">
    <ul class="nav nav-tabs">
      <li class="active tab-expand"><a href="#tab-one" data-toggle="tab">1. Document</a></li>
      <li class="tab-expand"><a href="#tab-two" data-toggle="tab">2. Style</a></li>
      <li class="tab-expand"><a href="#tab-three" data-toggle="tab">3. Program</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab-one">
        <h2>Meow loudly at 1am to human slave</h2>
        <p>Cat ipsum dolor sit amet, has closed eyes but still sees you present belly. Leave dead animals as gifts hide at bottom of staircase to trip human so sit by the fire.</p>
      </div>
      <div class="tab-pane" id="tab-two">
        <h2>Meow loudly at 2am to human slave</h2>
        <p>Cat ipsum dolor sit amet, has closed eyes but still sees you present belly. Leave dead animals as gifts hide at bottom of staircase to trip human so sit by the fire.</p>
      </div>
      <div class="tab-pane" id="tab-three">
        <h2>Meow loudly at 3am to human slave</h2>
        <p>Cat ipsum dolor sit amet, has closed eyes but still sees you present belly. Leave dead animals as gifts hide at bottom of staircase to trip human so sit by the fire.</p>
      </div>
    </div>
    <!-- GET STARTED>>> button -->
    <div class="button-go cray">
      <span class="cray"> GET STARTED >> </span>
    </div>
    <!-- GET STARTED>>> button end -->
  </div>

  <!-- tabs end -->

  <div id="lines" class="col-md-6">
    <div class="code-box">
      code box goes here
    </div>
  </div>
  <!-- right div -->
  <div style="height:500px;" class="col-md-1"></div>
  <!-- right div end -->
  <!-- bottom div -->
  <div style="height:100px;" class="col-md-12"></div>
  <!-- bottom div end -->

{% endblock %}

{% block resources %}

    {% css "css/home.css" %}
    {% css "css/bootstrap.min.css" %}
    {% css "css/bootstrap-theme.min.css" %}
    <script src="https://code.jquery.com/jquery-2.1.3.min.js" type="text/javascript"></script>
    <!-- js resources -->
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">

    $(document).ready(function() {

      $(".tab_content").hide();
      $(".tab_content:first").show();

      $("ul.tabs li").click(function() {
        $("ul.tabs li").removeClass("active");
        $(this).addClass("active");
        $(".tab_content").hide();
        var activeTab = $(this).attr("rel");
        $("#"+activeTab).fadeIn();
      });
    });

    </script>
{% endblock %}
