{% extends "base.html" %}

{% block title %}Fiddle Salad Language Configuration{% endblock %}
{% block description %}Choose among CSS, HTML, and JavaScript preprocessors. Develop web applications faster with real-time preview and enhanced debugging. {% endblock %}
{% block keywords %}javascript, lesscss, zen coding{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-md-12">
      {% include "logo.html" %}
    </div>
  </div>
  <div class="row">
    <div class="line"></div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#document">Document</a></li>
        <li><a data-toggle="tab" href="#style">Style</a></li>
        <li><a data-toggle="tab" href="#program">Program</a></li>
      </ul>
      <div class="tab-content">
        <div id="document" class="tab-pane fade in active">
          <p>Section A content…</p>
        </div>
        <div id="style" class="tab-pane fade">
          <p>Section B content…</p>
        </div>
        <div id="program" class="tab-pane fade">
          <p>Dropdown 1 content…</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="CodeMirror-placeholder"></div>
      <textarea id="code">
      </textarea>
    </div>
  </div>

{% endblock %}

{% block resources %}
    <link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
    {% css "css/home.css" %}
    {% css "css/wijmo-artisto.css" %}
    <script src="https://code.jquery.com/jquery-2.1.3.min.js" type="text/javascript"></script>
    {% if not DEBUG %}
        <script src="http://s3.amazonaws.com/pythonfiddle/js/LAB.min.js" type="text/javascript"></script>
        <script type="text/javascript">
            {% include "javascript_setup.html" %}
            $LAB
                    .script("http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js")
                    .script("https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js").wait()
                    .script("http://s3.amazonaws.com/pythonfiddle/js/knockout.js.gz?v=2013062511")
                    .script("http://s3.amazonaws.com/pythonfiddle/js/codemirror.fiddle.js.gz"+_v)
                    .script("http://s3.amazonaws.com/pythonfiddle/js/jquery-ui.fiddle.js.gz"+_v).wait()
                    .script("http://s3.amazonaws.com/pythonfiddle/js/menu.fiddle.js.gz"+_v)
                    .script("http://www.google-analytics.com/ga.js")
                    .script("http://platform.twitter.com/widgets.js");
        </script>
    {% else %}
        {% js "js/underscore.js" %}
        {% js "js/codemirror.fiddle.js" %}
        {% js "js/menu.fiddle.js" %}
        <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    {% endif %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
{% endblock %}