{% extends "base.html" %}

{% block title %}Fiddle Salad Language Configuration{% endblock %}
{% block description %}Choose among CSS, HTML, and JavaScript preprocessors. Develop web applications faster with real-time preview and enhanced debugging. {% endblock %}
{% block keywords %}javascript, lesscss, zen coding{% endblock %}

{% block styles %}
    <link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    {% css "css/bootstrap.min.css" %}
    {% css "css/bootstrap-theme.min.css" %}
    {% css "css/home.css" %}
{% endblock %}

{% block content %}
    <!-- top with logo -->
    <div class="row top-row" id="logo-row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            {% include "logo.html" %}
        </div>
        <div class="col-sms-1"></div>
    </div>
    <!-- end top with logo -->
    <div class="row" id="motto-row">
        <div class="col-sm-1"></div>
        <div class="between-top-and-mid col-sm-10">
            <h1> Code with <span style="color:#2dd2b4">convienence.</span></h1>

            <p>An online playground with an instantly ready coding environment.<br/>
               Combine language preprocessors, CSS, HTML and JavaScript to create and share coding examples.</p>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <!-- left div -->
    <div class="col-sm-1"></div>
    <!-- left div end -->
    <!-- tabs! -->
    <div id="lines" class="col-sm-5 tabbable full-width-tabs">
        <ul class="nav nav-tabs">
            <li class="active tab-expand"><a href="#tab-one" data-toggle="tab">1. Document</a></li>
            <li class="tab-expand"><a href="#tab-two" data-toggle="tab">2. Style</a></li>
            <li class="tab-expand"><a href="#tab-three" data-toggle="tab">3. Program</a></li>
        </ul>
        <div class="stickbottom2 tab-content">
            <div class="tab-pane active" id="tab-one">
                <div data-bind="html: documentLanguageDescription"></div>
                {% comment %}The "active" class marks the selected language{% endcomment %}
                <div class="stickbottom container-fluid">
                  <div class="row" data-bind="foreach: documentLanguage">
                    <button type="button" class="col-sm-1 intab-buttons btn btn-default" data-bind="text: $data, click: $root.setLanguage, css: { active: $root.selectedDocumentLanguage() === $data }"></button>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab-two">
                <div data-bind="html: styleLanguageDescription"></div>
                <div class="stickbottom" data-bind="foreach: styleLanguage">
                    <button type="button" class="intab-buttons btn btn-default" data-bind="text: $data, click: $root.setLanguage, css: { active: $root.selectedStyleLanguage() === $data }"></button>
                </div>
            </div>
            <div class="tab-pane" id="tab-three">
                <div data-bind="html: programLanguageDescription"></div>
                <div class="stickbottom" data-bind="foreach: programLanguage">
                    <button type="button" class="intab-buttons btn btn-default" data-bind="text: $data, click: $root.setLanguage, css: { active: $root.selectedProgramLanguage() === $data }"></button>
                </div>
            </div>
        </div>
        <!-- GET STARTED>>> button -->
        <div class="getstarted-button hvr-icon-forward">
            <span data-bind="click: loadWorkspace"> GET STARTED </span>
        </div>
        <!-- GET STARTED>>> button end -->
    </div>

    <!-- tabs end -->

    <div class="col-sm-6">
        <div class="code-box">
            <div class="CodeMirror-placeholder"></div>
            <textarea id="code">

            </textarea>
        </div>
    </div>

    <div class="clearfix"></div>
    <!-- right div -->
    <!-- <div style="height:500px;" class="col-sm-1"></div> -->
    <!-- right div end -->
    <!-- bottom div -->
    <div class="social-media-buttons">
      <a href="https://www.facebook.com/pages/Fiddle-Salad/433836646631748"><img src="static/images/facebook-icon.png"></a>
      <a href="https://www.youtube.com/user/LiveWebDevelopment"><img src="static/images/youtube-icon.png"></a>
      <a href="https://twitter.com/fiddle_salad"><img src="static/images/twitter-icon.png"></a>
    </div>
    <!-- bottom div end -->

{% endblock %}

{% block resources %}
    <!-- js resources -->
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.0.0.js"></script>
    <script type="text/javascript">
    {% include "javascript_setup.html" %}

    $(document).ready(function() {

      $(".tab_content").hide();
      $(".tab_content:first").show();

      $("ul.tabs li").click(function() {
        $("ul.tabs li").removeClass("active");
        $(this).addClass("active");
        $(".tab_content").hide();
        var activeTab = $(this).attr("rel");
        $("#"+activeTab).fadeIn();
      });
    });

    </script>
    {% js "js/underscore.js" %}
    {% js "js/codemirror.fiddle.js" %}
    {% js "js/menu.fiddle.js" %}
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
{% endblock %}
