{% extends "base.html" %}

{% block title %}{% if snippet.title %}{{ snippet.title }}{% else %}{{ default_meta.title }}{% endif %} | Fiddle Salad{% endblock %}
{% block description %}{% if snippet.description %}{{ snippet.description }}{% else %}{{ default_meta.description }}{% endif %}{% endblock %}
{% block keywords %}{% if snippet.get_tagstring %}{{ snippet.get_tagstring }}{% else %}{{ default_meta.keywords }}{% endif %}{% endblock %}

{% block content %}
    <textarea id="snippet">{{ snippet.code }}</textarea>
    {% if not DEBUG %}
        <div id="progress-container">
            <progress id="progress" value="5" max="100"></progress>
        </div>
        <div id="overlay"></div>
        <iframe id="viewer" src="http://fiddlesalad.com/home/files/viewer.html?v=2013080513"></iframe>
    {% else %}
        <iframe id="viewer" src="/static/files/viewer.local.html"></iframe>
    {% endif %}
    {% block layout %}{% endblock %}
    {% block tmpl %}{% endblock %}
{% endblock %}

{% block styles %}
    {% if not DEBUG %}
    <link href="http://fonts.googleapis.com/css?family=Codystar" rel="stylesheet" type="text/css">
    {% endif %}
    {% css "css/styles.fiddle.css" %}
{% endblock %}

{% block resources %}
    <script type="text/javascript">
        var _startTime = (new Date()).getSeconds();
        {% include "javascript_setup.html" %}
        {% if ownerId %}var ownerId = '{{ ownerId }}'{% endif %};
        {% block json %}{% endblock %}
        {% if not DEBUG %}
        document.getElementById('progress').value = 10;
        (function(g,b,d){var c=b.head||b.getElementsByTagName("head"),D="readyState",E="onreadystatechange",F="DOMContentLoaded",G="addEventListener",H=setTimeout;
        function f(){
            //debug_base_url="http://fiddlesalad.com/home";
        	document.getElementById('progress').value = 20;
            $LAB
            .script(base_url+"/js/fiddle.bootstrap.js.gz"+_v)
            .script("http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js").wait(function(){
            	document.getElementById('progress').value = 50
            })
            .script("https://code.jquery.com/ui/1.8.19/jquery-ui.min.js")
            .script("http://cdn.wijmo.com/jquery.wijmo-open.all.2.0.5.min.js")
            .script(base_url+"/js/knockout.js.gz?v=2013062511")
            .script(base_url+"/js/codemirror.fiddle.js.gz"+_v)
            .script(base_url+"/js/fiddle.plugins.js.gz"+_v).wait(function(){
            	document.getElementById('progress').value = 75
            })
            .script(base_url+"/js/fiddle.init.js.gz"+_v).wait()
            .script(base_url+"/js/spellchecker.js.gz"+_v)
            .script("http://www.google-analytics.com/ga.js")
            .script("http://w.sharethis.com/button/buttons.js").wait(function(){
                __st_loadLate=true;
                stLight.options({publisher: "e166464f-d4f0-487b-b673-7abd0a910c5f", doNotHash: false, doNotCopy: false, hashAddressBar: false});
            });
        }
        H(function(){if("item"in c){if(!c[0]){H(arguments.callee,25);return}c=c[0]}var a=b.createElement("script"),e=false;a.onload=a[E]=function(){if((a[D]&&a[D]!=="complete"&&a[D]!=="loaded")||e){return false}a.onload=a[E]=null;e=true;f()};

        a.src=base_url+"/js/LAB.min.js"+_v;

        c.insertBefore(a,c.firstChild)},0);if(b[D]==null&&b[G]){b[D]="loading";b[G](F,d=function(){b.removeEventListener(F,d,false);b[D]="complete"},false)}})(this,document);
        {% endif %}
    </script>
    {% if DEBUG %}
        {% js "js/LAB.min.js" %}
        {% js "js/fiddle.bootstrap.js" %}
        {% js "js/jquery-1.7.1.js" %}
        {% js "js/jquery-ui.fiddle.js" %}
        {% js "js/knockout.js" %}
        {% js "js/codemirror.fiddle.js" %}
        {% js "js/fiddle.plugins.js" %}
        {% js "js/fiddle.init.js" %}
        {% js "js/build/lib/spellchecker.js" %}
    {% endif %}
{% endblock %}
